.runningImageContainer {
    width: 100%;
    height: 100%; 
    position: relative;
    overflow: hidden;
    display: flex;
    
  }
  
  .runningImage {
    position: relative;
    width: 1623px;
    height: 835px;
  }
  .runningImage img {
    position: absolute;
    width: 1000px; /* Atur lebar sesuai kebutuhan */
    height: auto; /* Sesuaikan tinggi dengan lebar gambar */
    transition: left 0.2s ease-in-out; /* Animasi perubahan posisi kiri */
  }