/* Pastikan untuk menyesuaikan konten media query dengan kebutuhan desainmu */

.container {
  display: flex;
  gap: 10vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100vw;
  margin: auto;
  position: fixed;
  z-index: 10;
  backdrop-filter: blur(10px);
  box-sizing: border-box;
  border-bottom-width: 1px; 
  border-style: solid;
  border-image: linear-gradient(to right, #D9D9D900,  #ffffff, #D9D9D900); 
  border-image-slice: 1;
 
}

.list {
  display: flex;
  gap: 5vw;
  align-items: center;
  justify-content: center;
  min-width: 160px;
  font-size: 20px;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdownContent {
  cursor: pointer;
  display: none; /* Diubah menjadi none agar dropdown tidak terlihat */
  position: absolute;  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,10);
  z-index: 100;
  border-radius:  20px ;
  left: 1%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1));
  
}

.dropdownContent a {
  cursor: pointer;
  color: white;
  padding: 10px 16px;
  display: inline-block;
}


.dropdown:hover .dropdownContent {
  display: block;
  justify-content: space-between;
  text-align:justify;
  color: white;
  padding-top: 40px;
}

.dropdownContent a:hover {
  background-color: transparent;
}


@media screen and (max-width: 568px) {
  .container{

  }
  .list {
    display: none; /* Sembunyikan daftar menu */
    flex-direction: column; /* Ubah arah tata letak ke kolom */
    gap: 10px; /* Berikan jarak antar item */
    text-align: center; /* Pusatkan teks */
    position: absolute;
    top: 100%; /* Taruh dropdown di bawah header */
    left: 0;
    width: 100%;
    background-color: #ffffff; /* Warna latar belakang */
    border: 1px solid #ccc; /* Tambahkan border */
    padding: 10px;
  }

  .dropdown {
    display: block; /* Tampilkan dropdown pada lebar layar kecil */
  }

  .dropdownContent {
    display: block; /* Tampilkan konten dropdown */
  }

  .dropdown:hover .dropdownContent {
    display: none; /* Sembunyikan dropdown saat dihover */
  }
}