.container {
  /* display: flex; */
  display: flex;
  gap: 10vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  height: 10vh;
  width: 100vw;
  margin: auto;

}

/* @media (max-width: 1020px) {
  .container {
    display: none;
  }
} */

.list {
  display: flex;
  gap: 5vw;
  align-items: center;
  justify-content: center;
}

