.judul {
    color: #FFF;
    text-shadow: 0px 6px 15px rgba(255, 255, 255, 0.25);
    font-family: Carmen Sans,sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 20vh;
    margin-bottom: 30px;
    padding: 30px;
}
.subJudul{
    color: #D9D9D9;
    font-family: SF Pro Display,sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.kotak {
    width: 80% ;
    height: 100%;
    background: linear-gradient(109deg, rgba(217, 217, 217, 0.20) 0%, rgba(255, 255, 255, 0.02) 100%);
    box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.25);
    border-radius: 40px;  
    border-top: 1px solid rgba(255, 255, 255, 0.50);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    padding: 75px;
}

.item {
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    word-wrap: break-word;

    
}

.subJudul{
    color: #D9D9D9;
font-family: SF Pro Display;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 10px;
}

.desc{
    color: #D9D9D9;
font-family: SF Pro Display;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 20px;

}