.container{
    width: 80vw ;
    height: 50vh ;
    background: linear-gradient(109deg, rgba(217, 217, 217, 0.20) 0%, rgba(255, 255, 255, 0.02) 100%);
    box-shadow: 0px 4px 4px -1px rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.50);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    backdrop-filter: blur(20px);
    padding: 8vw;
    margin-bottom: 15.9vh;
    display: flex;
    justify-content: space-between;
}
.logo{
    gap: 100px;
}
.item{
    width: calc(50% - 10px); 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}


.subjudul{
    font-size: 1.8rem;
    font-weight: bold;
    
    
    justify-content: space-between;
}


.judul{
    color: #FFF;
    text-shadow: 0px 6px 15px rgba(255, 255, 255, 0.25);
    font-family: Carmen Sans,sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 20vh;
    margin-bottom: 30px;
    
  
}

@media screen and (max-width: 568px) {
    .container {
      width: 80vw;
        display: grid;
        height: fit-content;
    }
  .judul{
    font-size: 2rem;
  }
  .item{
    width: 70vw;
  }
 
  }
  